<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <head>
        <title>공통 프로젝트</title>
        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- link -->
<!--        <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--        <script src="/js/jquery-3.6.0.min.js"></script>-->
<!--        <script src="/js/bootstrap.min.js"></script>-->
    </head>
</th:block>
</html>