<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<head>
    <link th:href="@{/css/board/board.css}" type="text/css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="container pt-4 mw-100">
        <div class="pb-1">
<!--            전체 게시글 수: <span th:text="${list.totalElements}"></span>-->
        </div>

        <div class="form-group d-flex mb-2 justify-content-between">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    카테고리
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button class="dropdown-item" onclick="selectCategory('개발')">개발</button>
                    <button class="dropdown-item" onclick="selectCategory('디자인')">디자인</button>
                    <button class="dropdown-item" onclick="selectCategory('인프라')">인프라</button>
                    <button class="dropdown-item" onclick="selectCategory('데이터')">데이터</button>
                    <button class="dropdown-item" onclick="selectCategory('인공지능')">인공지능</button>
                </div>
            </div>

            <form th:action="@{/board/list}" method="get" class="d-flex ms-lg-1">
                <div class="d-flex">
                    <select id="searchType" name="searchType" class="form-control w-75 ms-lg-1">
                        <option value="writer" selected>작성자</option>
                        <option value="title">제목</option>
                    </select>
                    <input type="text" class="ms-lg-1" id="searchKeyword" name="searchKeyword" placeholder="검색어"/>
                    <button type="submit" class="btn btn-secondary">검색</button>
                </div>
            </form>

            <form th:action="@{/board/list}" method="get" class="d-flex ms-lg-1">
                <select name="sort" id="sort" class="form-control w-75 ms-lg-1">
                    <option value="id,desc" selected>작성일(최신순)</option>
                    <option value="id,asc">작성일(오래된순)</option>
                </select>
                <button type="submit" class="btn btn-primary ms-lg-1">정렬 적용</button>
            </form>
        </div>

        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" style="width: 110px; background-color: #ccffff;">번호</th>
                <th scope="col" style="width: 300px; background-color: #ccffff;">제목</th>
                <th scope="col" style="width: 180px; background-color: #ccffff;">작성자</th>
                <th scope="col" style="width: 150px; background-color: #ccffff;">작성일</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:if="${list.empty}">
                    현재 게시글이 없습니다.
                </th:block>
                <th:block th:if="${!list.empty}">
                    <tr class="text-center" th:each="board : ${list.content}">
                        <th scope="row">
                            <span th:text="${board.id}"></span>
                        </th>
                        <th>
                            <a class="post-link" th:href="@{'/board/view/' + ${board.id}}">
                                <span th:text="${board.title}"></span>
                            </a>
                        </th>
                        <th>
                            <span th:text="${board.writer}"></span>
                        </th>
                        <th>
                            <span th:text="${#temporals.format(board.createAt , 'yyyy-MM-dd')}"></span>
                        </th>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <div class="form-group d-flex justify-content-between align-items-center">
            <div class="col-auto" style="padding-right: 150px">
                <a th:href="@{/board/write}" class="btn btn-primary ml-2">글쓰기</a>
            </div>
        </div>
        <!-- 페이징 -->
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <ul class="pagination"
                    th:with="
                        pageNumber = ${list.pageable.pageNumber},
                        pageSize = ${list.pageable.pageSize},
                        totalPages = ${list.totalPages},
                        startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                        tempEndPage = ${startPage + pageSize - 1},
                        endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

                    <li th:classappend="${list.first} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${list.first} ? '#' : @{/(page=${pageNumber - 1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{/(page=${page - 1})}"></a>
                    </li>

                    <li th:classappend="${list.last} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${list.last} ? '#' : @{/(page=${pageNumber + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        // 선택한 항목을 표시하는 함수
        function selectCategory(category) {
            $("#dropdownMenuLink").text(category);
        }
    </script>
</th:block>
</html>