<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="layout container pt-2">
        <form class="mx-5 my-3 ps-lg-2" style="max-width: 1040px;">
            <div class="form-group row pb-2">
                <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
                <div class="col-sm-8">
                    <input type="text" required class="form-control" id="inputTitle" name="title" readonly th:value="${data.title}"/>
                </div>
            </div>

            <div class="form-group row pb-2">
                <label for="inputCategory" class="col-sm-2 col-form-label"><strong>카테고리</strong></label>
                <div class="col-sm-8">
                    <input type="text" required class="form-control" id="inputCategory" name="category" readonly th:value="${data.category}"/>
                </div>
            </div>

            <div class="form-group row pb-2">
                <label for="inputWriter" class="col-sm-2 col-form-label" ><strong>작성자</strong></label>
                <div class="col-sm-8">
                    <input type="text" required class="form-control w-100" id="inputWriter" name="writer" readonly th:value="${data.writer}"/>
                </div>
            </div>

            <div class="form-group row pb-2">
                <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
                <div class="col-sm-10">
                    <textarea required class="form-control w-100" id="inputContent" name="content" style="height: 200px; resize: none;" readonly th:text="${data.content}"></textarea>
                </div>
            </div>

            <div class="form-group row justify-content-xl-end">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto pt-1 pb-2">
                    <button class="btn btn-primary" type="button" onclick="boardMoveUpdate()">수정하기</button>
                    <button class="btn btn-primary" type="button" onclick="boardDelete()">삭제하기</button>
                </div>
            </div>
        </form>
    </div>
    <div class="layout container pt-2">
        <div class="mx-5 my-3 ps-lg-2" style="max-width: 1040px;">
            <table class="table border-black bg-gray">
                <tbody>
                <th:block th:if="${commentList.empty}">
                    <div class="text-center"><strong>댓글이 없습니다.</strong></div>
                </th:block>
                <th:block th:if="${!commentList.empty}" th:each="comment : ${commentList}">
                    <!-- 댓글 -->
                    <tr class="text-center" th:if="${comment.firstCommentId == 0}">
                            <td>
                                <span th:text="${comment.writer}"></span>
                            </td>
                            <td>
                                <span th:text="${comment.content}"></span>
                            </td>
                            <td>
                                <span th:text="${#temporals.format(comment.createAt , 'yyyy-MM-dd')}"></span>
                            </td>
                            <!-- 대댓글 작성 버튼 -->
                            <td>
                                <button class="btn btn-sm btn-secondary" th:commentId="${comment.id}" th:onclick="setReplyMode(this.getAttribute('commentId'))">대댓글 작성</button>
                            </td>
                    </tr>
                    <!-- 대댓글 -->
                    <tr class="text-center" th:each="childComment : ${commentList}" th:if="${comment.id == childComment.firstCommentId}">
                            <td>
                                <span th:text="'ㄴ  ' + ${childComment.writer}"></span>
                            </td>
                            <td>
                                <span th:text="${childComment.content}"></span>
                            </td>
                            <td>
                                <span th:text="${#temporals.format(childComment.createAt , 'yyyy-MM-dd')}"></span>
                            </td>
                            <!-- 대댓글 작성 버튼 -->
                            <td>
                                <button class="btn btn-sm btn-secondary" th:commentId="${comment.id}" th:onclick="setReplyMode(this.getAttribute('commentId'))">대댓글 작성</button>
                            </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="layout container pt-2">
                <div class="form-group row justify-content-xl-between align-items-center">
                    <input type="hidden" id="firstCommentId" name="firstCommentId" value="0"/>
                    <div class="w-25">
                        <label for="inputCommentWriter" class="col-1 col-form-label w-50" ><strong>작성자</strong></label>
                        <input type="text" required class="form-control w-50" id="inputCommentWriter" name="CommentWriter"/>
                    </div>
                    <div class="w-75">
                        <label for="inputCommentContent" class="col-1 col-form-label w-25"><strong>댓글 작성</strong></label>
                        <input type="text" required class="form-control w-100" id="inputCommentContent" name="CommentContent"/>
                    </div>
                    <div class="text-end me-3">
                        <button class="btn btn-primary w-25 mt-2 text-center" type="button" onclick="commentCreate()">댓글달기</button>
                        <button class="btn btn-primary w-25 mt-2 text-center" type="button" onclick="setCommentMode()">대댓글작성모드 해제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let id = [[${data.id}]];

        //edit 이동
        function boardMoveUpdate() {
            fnChangePage('/board/edit/' + id);
        }

        //게시글 삭제
        function boardDelete() {
            var param = {
                id : id,
                writer : $("#inputWriter").val(),
                content : $("#inputContent").val()
            }
            commonAjax('/api/board/delete', param, false, '', boardDeleteCallBack);
        }

        function boardDeleteCallBack(data) {
            if(data.code !== '0000') {
                fnUserAlt(data.msg);
            } else {
                fnUserAlt(data.msg, '', fnChangePage('/board/list'));
            }
        }

        // 댓글 작성 모드 설정
        function setCommentMode() {
            document.getElementById('firstCommentId').value = 0
            fnUserAlt('댓글 작성 모드로 전환되었습니다.');
        }

        // 대댓글 작성 모드 설정
        function setReplyMode(parentCommentId) {
            console.log(parentCommentId);
            // 숨겨진 필드에 대댓글의 부모 댓글 ID를 설정
            document.getElementById('firstCommentId').value = parentCommentId;
            fnUserAlt('대댓글 작성 모드로 전환되었습니다.');
        }

        //댓글 달기
        function commentCreate() {
            var param = {
                firstCommentId : $("#firstCommentId").val(),
                writer : $("#inputCommentWriter").val(),
                content : $("#inputCommentContent").val(),
                boardId : id
            }
            console.log(param);

            // 댓글 입력 값이 비어 있는지 체크
            if (!param.writer || !param.content) {
                fnUserAlt('작성자와 내용을 모두 입력해 주세요.');
                return;
            }

            commonAjax('/api/comment/create', param, false, '', commentCreateCallBack);
        }

        function commentCreateCallBack(data) {
            if(data.code !== '0000') {
                fnUserAlt(data.msg);
            } else {
                fnUserAlt(data.msg, '', fnChangePage('/board/view/' + id));
            }
        }
    </script>
</th:block>
</html>