@charset "UTF-8";
/* common */
body {margin: 0; }
a {text-decoration: none; color:#000;}
#main {display: flex;}

/* header */

/* sidebar */
#sidebar {width: 150px;height: 100%;padding: 50px 10px 604px 30px;background-image: linear-gradient(to bottom, #F06966 0%, #FAD6A6 95%);display: flex;flex-direction: column;}
.icon-text {width: 200px;height: 20px;flex-grow: 0;margin-bottom: 20px;display: flex;align-items: center;}
.icon-text > img {display: inline;}
.icon-text > label {text-align: right; font-size: 15px; color: #000; margin-left: 20px;}
.icon-text > .icon-text-select {color: #0DE2BB;}

/* footer */
footer {width: 100%; height: 60px; background-color: #f8f9fa; padding-top: 30px; text-align: center; font-weight: bold}