<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default_layout">
<th:block layout:fragment="content">
    <div id="main">
        <div id="sidebar">
        <span class="icon-text">
            <label class="icon-text-select">home</label>
        </span>
            <span class="icon-text">
            <label>login</label>
        </span>
            <span class="icon-text">
            <label>payment</label>
        </span>
            <span class="icon-text">
            <label>chatting</label>
        </span>
            <span class="icon-text">
            <label>data Crawling</label>
        </span>
            <span class="icon-text">
            <label>board</label>
        </span>
            <span class="icon-text">
            <label>Chat Bot</label>
        </span>
            <span class="icon-text">
            <label>ftp</label>
        </span>
            <span class="icon-text">
            <label>QrCode</label>
        </span>
            <span class="icon-text">
            <label>Chart</label>
        </span>
            <span class="icon-text">
            <label>Zoom</label>
        </span>
        </div>
        <h1>common Project</h1>
    </div>
</th:block>
</html>