<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>공통 프로젝트</title>
    <!-- css -->
    <link th:href="@{/css/reset.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">
    <!-- js -->
    <!--    <script th:src="@{/js/common.js}"></script>-->
</head>
<body>
    <div id="main">
        <div id="sidebar">
        <span class="icon-text">
            <label class="icon-text-select">home</label>
        </span>
        <span class="icon-text">
            <label>login</label>
        </span>
        <span class="icon-text">
            <label>payment</label>
        </span>
        <span class="icon-text">
            <label>chatting</label>
        </span>
        <span class="icon-text">
            <label>data Crawling</label>
        </span>
        <span class="icon-text">
            <label>board</label>
        </span>
        <span class="icon-text">
            <label>Chat Bot</label>
        </span>
        <span class="icon-text">
            <label>ftp</label>
        </span>
        <span class="icon-text">
            <label>QrCode</label>
        </span>
        <span class="icon-text">
            <label>Chart</label>
        </span>
        <span class="icon-text">
            <label>Zoom</label>
        </span>
        </div>
        <h1>common Project</h1>
    </div>
</body>
</html>