<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
        <th:block layout:fragment="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">main</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                        <button type="button" th:onclick="|window.location.href='@{/login/}'|" class="btn btn-sm btn-outline-secondary">로그인</button>
                                        <button type="button" th:onclick="|window.location.href='@{/login/signUp}'|" class="btn btn-sm btn-outline-secondary">회원가입</button>
                                </div>
                        </div>
                </div>
        </th:block>
</html>
