<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default_layout">
<th:block layout:fragment="content">
    <form th:action="@{/login-processing}" method="post" id="login-form">
        <h1>로그인</h1>
        <input type="text" id="username" name="username" autofocus="autofocus" placeholder="username"/> <br />
        <input type="password" id="password" name="password" placeholder="password"/> <br />
        <input type="submit" id="login-button" value="로그인" />
    </form>
</th:block>
</html>