<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="text-center p-5 ms-5">
        <div class="form-signin mt-3 text-start">
            <form th:action="@{/api/user/signUp-processing}" method="post" id="signUpForm">
                <!--            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
                <h1 class="h3 mb-3 fw-normal">회원가입</h1>
                <div class="form-floating mb-2">
                    <input type="text" class="w-auto py-2" id="name"  name="name" autofocus placeholder="이름"/>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="w-auto py-2" id="nickName" name="nickName" placeholder="닉네임"/>
                    <input type="text" class="w-auto py-2" id="userId" name="userId" placeholder="유저id"/>
                    <button class="btn btn-primary w-auto py-2" type="button">중복체크</button>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="w-auto py-2" id="password" name="password" placeholder="비밀번호"/>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="w-auto py-2" id="email" name="email" placeholder="이메일"/>
                </div>
                <div class="form-floating mb-2">
                    <input type="date" class="w-auto py-2" id="birthDate" name="birthDate" placeholder="생년월일"/>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="w-auto py-2" id="phoneNumber" name="phoneNumber" placeholder="전화번호"/>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="w-auto py-2" id="address" name="address" placeholder="주소"/>
                    <button class="btn btn-primary w-auto py-2" type="button">주소 검색</button>
                </div>
                <button class="btn btn-primary w-25 py-2" onclick="doSignUp()" type="button">회원가입</button>
            </form>
        </div>
    </div>
    <script>
        let name, nickName, userId, password, email, birthDate, phoneNumber, address;

        //중복체크
        function fnDuplicationIsCheck() {
            nickName = $("#nickName").val();
            userId = $("#userId").val();

            var param = {
                "nickName" : nickName,
                "userId" : userId
            }
            var request = $.ajax({
                url: '/api/user/duplicationIsCheck'
                , type: "POST"
                , dataType: "json"
                , data: param
                , async: true
                , contentType : "application/json; charset=UTF-8"
            });
            request.done(function(resultData) {
                fnUserAlt(resultData.response.msg);
            }).fail(function (xhr, request, status) {
                fnUserAlt("시스템 오류입니다. 고객센터에 문의해주세요.");
            });
        }

        //회원가입
        //1.데이터 생성
        function fnSignUpInputDataInit() {
            name = $("#name").val();
            nickName = $("#nickName").val();
            userId = $("#userId").val();
            password = $("#password").val();
            email = $("#email").val();
            birthDate = $("#birthDate").val();
            phoneNumber = $("#phoneNumber").val();
            address = $("#address").val();

            //유효성 검사
            if(!fnSignUpInputValid()) {
                return;
            }

            doSignUp();
        }
        //2. 유효성 검사
        function fnSignUpInputValid() {
            if(!fnCheckEmail(email)) {
                return false;
            }
            if(!fnCheckId(userId)) {
                return false;
            }
            if(!fnCheckPwd(password)) {
                return false;
            }
            return true;
        }

        //3. 회원가입
        function doSignUp() {
            const formData = $("#signUpForm").serialize();
            console.log(formData);

            var request = $.ajax({
                url: '/api/user/signUp-processing'
                , type: "POST"
                , dataType: "json"
                , data: JSON.stringify(formData)
                , async: true
                , contentType : "application/json; charset=UTF-8"
            });
            request.done(function(resultData) {
                doSignUpCallBack(resultData);
            }).fail(function (xhr, request, status) {
                fnUserAlt("시스템 오류입니다. 고객센터에 문의해주세요.");
            });
        }
        // 회원가입 결과
        function doSignUpCallBack(data) {
            if(data.response.code == "0000") {
                fnUserAlt("회원가입이 완료되었습니다.", '', function () { fnChangePage('/login');});
            } else {
                fnUserAlt(data.response.msg);
            }
        }
        //주소 검색 api(보류)
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if(roadAddr !== ''){
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }


        //1. 유효성 검증
        function formVaild() {
            name = $("#name").val();
            nickName = $("#nickName").val();
            userId = $("#userId").val();
            password = $("#password").val();
            email = $("#email").val();
            birthDate = $("#birthDate").val();
            phoneNumber = $("#phoneNumber").val();
            address = $("#address").val();

            if(name == null) {
                //추후 모달팝업 추가
            }
            if(nickName == null) {
                //추후 모달팝업 추가
            }
            if(userId == null) {
                //추후 모달팝업 추가
            }
            if(password == null) {
                //추후 모달팝업 추가
            }
            if(email == null) {
                //추후 모달팝업 추가
            }if(birthDate == null) {
                //추후 모달팝업 추가
            }if(phoneNumber == null) {
                //추후 모달팝업 추가
            }if(address == null) {
                //추후 모달팝업 추가
            }
        }

        //2. 전송
    </script>
    <!-- 다음 주소검색 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>