<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>메일</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.0.slim.js"></script>
</head>
<body>
<h1>이메일을 작성해보세요!</h1>
<form th:action="@{/mailSend}" method="post">
  보내는 사람 : <input type="text" name="fromAddress" readonly><br>
  받는 사람 : <input type="text" name="toUser"><br>
  참조 : <input type="text" name="ccUser"><br>
  숨은 참조 : <input type="text" name="bccUser"><br>
  제목 : <input type="text" name="subject"><br>
  내용 : <input type="text" name="content"><br>
  HTML형식 : <input type="checkbox" name="isUseHtmlYn"><br>
  <input type="submit" value="전송">
</form>
</body>
</html>